@page "/Account/Access-Denied"
@using WebUI.Components.Layout
@layout MainLayout

@* <NetcodeHub.Packages.UI.Templates.Breeze.TwoSectionsTemplate>
    <Col12Template>
        <div class="card">
            <div class="card-body">
                <div class="alert alert-warning"><h1>Üzr istəyirik, sizin bu səhifəni görmək hüququnuz yoxdur.</h1></div>
            </div>
        </div>
    </Col12Template>
    <FooterTemplate><Footer /> </FooterTemplate>
</NetcodeHub.Packages.UI.Templates.Breeze.TwoSectionsTemplate> *@